* {
  box-sizing: border-box;
}

body {
  padding: 20px;
  max-width: 1024px;
  margin: auto;
}

#columns-section {
  display: flex;
  flex-wrap: wrap;
}

.container {
  flex-grow: 1;
  min-width: 300px;
  margin: 10px;
}

.column-section {
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  column-gap: 10px;
  margin: 0 auto;
  border: 1px solid black;
  padding: 10px;
}

#columns-block > .block {
  display: block;
}

#columns-inline-block > .block {
  display: inline-block;
  vertical-align: top;
}

.block {
  border: 1px solid black;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  break-inside: avoid-column;
}
